@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'sans-serif';
  /* background: #333333;
  color: #fff; */
  line-height: 1.5;
}

.container {
  width: 70%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.margin-top-bottom {
  margin: 20px auto 20px auto;
}

.padding-top-bottom {
  padding: 20px 50px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.bible-verse {
  background: yellow;
  padding: 10px;
  margin-bottom: 20px;
}

.welcome-user-container {
  background: #fff;
  margin: 350px auto 0 auto;
  color: #000;
  border: 1px solid #7ac251;
}

.welcome-heading {
  background: #7ac251;
  color: #fff;
  font-weight: bold;
}

#user-avatar {
  font-size: 25px;
}

.user-input {
  width: 100%;
  padding: 10px 5px;
  font-size: 14px;
}

.submit-button {
  padding: 10px;
  background: #7ac251;
  color: #fff;
  font-family: 'Roboto', 'sans-serif';
  font-size: 16px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.submit-button:hover {
  background: #333333;
}

.message-to-user {
  color: #ff0000;
}

.welcome-message {
  /* border: 1px solid #000; */
  padding: 5px;
}

.mood-container {
  padding: 10px;
  width: 25%;
  border: 1px solid #fff;
  cursor: pointer;
  transition: 0.4s ease-in;
  margin: auto;
  border: none;
}

.mood-container:hover {
  background: #7ac251;
}

.current-mood-container {
  background: #cce6ff;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Testing purposees */

.hide {
  display: none;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
